---
layout: reports
title: "<%= @grant[:title] %>"
grant_number: <%= @grant[:grant_number] %>
institution: <%= @grant[:institution] %>
contact: <%= @grant[:contact] %>
email: <%= @grant[:email] %>
submission: <%= @grant[:submission] %>
json: <%= @grant[:json_filename] %>
total_assets: <%= @grant[:total_assets] %>
available_assets: <%= @grant[:available_assets] %>
available_percentage: <%= @grant[:available_percentage] %>
unavailable_percentage: <%= @grant[:unavailable_percentage] %>
---

<div class="row">
  <div class="col-xl-8 col-lg-12 col-md-12 col-12">
    <div class="card">
      <h5 class="card-header">Check Details</h5>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Filename</th>
              <th scope="col">URL</th>
              <th scope="col">Checksum</th>
              <th scope="col">Restricted</th>
            </tr>
          </thead>
          <tbody>
            <% @assets.each do |asset| %>
            <tr>
              <td><%= status_badge asset[:status] %></td>
              <td><%= asset[:filename] %></td>
              <td><%= asset[:online_url] %></td>
              <td><%= asset[:checksum] %></td>
              <td><%= asset[:restricted] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
